@{ 
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<ul>
    @for (int i = 0; i < ViewBag.NumTimes; i++)
    {
        <li>@ViewBag.Message</li>
    }
</ul>

<ul>
    @foreach (var item in Request.ServerVariables)
    {
        <li>@item: @Request.ServerVariables[item.ToString()]</li>
    }
</ul>